services:
  - docker

before_script:
  - docker run -it --rm -v "$(pwd)/Dockerfile:/Dockerfile:ro" redcoolbeans/dockerlint

script:
  - chmod +x "./scripts/travis/deploy.sh"
  - export BUILD_TAG="$TRAVIS_REPO_SLUG-$TRAVIS_COMMIT-travis"
  - docker build . -t "${BUILD_TAG}"
  - docker history "${BUILD_TAG}"

deploy:
  skip_cleanup: true
  provider: script
  script: sh "./scripts/travis/deploy.sh"
  on:
    branch: master
